.mdl-layout__header {
    box-shadow: none;
}

.mdl-layout__header-row + .mdl-layout__header-row {
    background-color: #425764 !important;
}

.mdl-layout__header-row .mdl-navigation__submenu-group .mdl-navigation__link {
    color: #FFF;
    text-transform: none !important;
    font-family: 'Open Sans', sans-serif;
}

.mdl-layout__header-row .mdl-navigation__link {
    color: #FFF;
    text-transform: none !important;
    font-family: 'Open Sans', sans-serif;
}

.mdl-layout__header-row+.mdl-layout__header-row .mdl-navigation .material-icons {
 color: #FFF;
}

.mdl-layout__header-row .mdl-navigation > .mdl-navigation__submenu-group .mdl-navigation__submenu-toggle + .material-icons {
    top: 52%;
}

header .mdl-js-button {
    background-color: transparent !important;
    box-shadow: none !important;
    border-radius: 0px !important;
    border: 1px solid rgba(255,255,255,.4) !important;
    padding: 0px 20px 0px 20px !important;
    margin-left: 20px !important;
    text-transform: none !important;
    font-family: 'Open Sans', sans-serif !important;
    color: #FFF !important;
    height: 40px !important;
    line-height: 40px !important;
}

.header .mdl-js-button i {
    color: #FFF !important;
}

.mdl-navigation .mdl-button--raised.mdl-button--colored:hover {
    background-color: #FFF;
    color: #364a5b;
}

.container.video-container .carousel-controller.carousel-controller--align-right {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: none;
    top: auto;
    width: 100% !important;
    max-width: 780px;
    background-color: rgba(255,255,255,.85);
    border-radius: 0px;
    padding: 70px 50px 45px 140px;
}

.container.video-container .carousel-controller.carousel-controller--align-right h4 {
    font-family: "Libre Baskerville";
    font-style: italic;
    text-transform: none;
    color: #425764;
    font-size: 55px; 
    letter-spacing: 0px;
    margin-bottom: 20px;
}

.container.video-container .carousel-controller.carousel-controller--align-right a {
    color: #425764;
    background-color: transparent;
    padding: 15px 0 5px;
    border-bottom: 1px solid #425764;
    border-radius: 0px;
    transition: all 0.3s ease-in-out;
    text-transform: none !important;
    font-size: 18px;
}

.container.video-container .carousel-controller.carousel-controller--align-right a:hover {
    border-bottom: 1px solid transparent;
    text-decoration: none;
}

.container .carousel-wrapper {
    max-height: calc(100vh - 125px); 
    max-width:100%; 
    height:auto;  
    height:calc(100vh - 125px);  
    margin-bottom:0; 
    overflow: hidden; 
    box-shadow: unset; 
    border-radius: unset;
}

.carousel-wrapper .carousel .owl-video-frame iframe {
    position: relative; 
    transform:none; 
    top:auto; 
    height: calc(100vh - 125px) !important;
}

.section-containers > div:nth-child(4) .card-content {
    display: block;
}

.card__full-width {
    box-shadow: none;
    margin-left: -200px;
    margin-right: -200px;
    padding-left: 200px;
    padding-right: 200px;
    min-height: 620px;
}

.card__content-wrapper  {
    padding-right: 200px !important;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
}

.card-container.container-3-columns {
    padding: 0;
    margin-top: -10px;
}

.card-container.container-3-columns .card {
    box-shadow: none;
    boder-radius: 0px;
}

.card-container.container-3-columns .card .card-content {
    padding: 0;
}

.card-container.container-3-columns .card a {
    font-family: "Libre Baskerville";
    font-style: italic;
    font-size: 20px;
    color: #191919;
    text-transform: none;
    display: block;
    background-image: url("/-/media/peet/General Images/SA/Bluestone/assets/arrow-right.ashx") !important;
    background-repeat: no-repeat;
    background-position: center right;
}

.card__full-width.card__full-width--image-left .card__image-wrapper {
    left: 0;
}

.card__full-width.card__full-width--image-right .card__content-wrapper {
    padding-left: 70px;  
}

.card__full-width.card__full-width--image-left .card__content-wrapper {
    padding-left: 200px;
    padding-right: 70px !important;
}

.share-your-bluestonelife .section-title {
    display: none !important;
}

.share-your-bluestonelife .slick-slide {
    width: 345px !important;
    box-shadow: none;
    border-radius: 0px;
}

.slick-slider {
    height: auto !important; 
    transform: translateX(270px);
}

.section.share-your-bluestonelife .container {
    position: relative;   
}

.section.share-your-bluestonelife img.card-avatar {
    display: none;    
}

.section.share-your-bluestonelife .container:before {
    content: "Love it, snap it, post it!";
    position: absolute;
    top: 0;
    left: 30px;
    display: block;
    width: 170px;
    font-size: 40px;
    font-family: "Libre Baskerville";
    line-height: 55px;
    font-style: italic;
    color: #425764;
}

.section.share-your-bluestonelife .container:after {
    content: "Share your #bluestonelife";
    position: absolute;
    top: 190px;
    left: 30px;
    display: block;
    width: 170px;
    font-size: 14px;
    font-family: "Libre Baskerville";
    line-height: 21px;
    color: #221F20;
}

.section.share-your-bluestonelife .card-caption {
    margin-top: 0;    
}

.section.share-your-bluestonelife .card-attribution {
    font-family: "Libre Baskerville";
    font-size: 14px;
    color: #221F20;
}

.section.share-your-bluestonelife .card-caption h4 {
    font-family: "Libre Baskerville";
    font-size: 20px;
    line-height: 24px;
    color: #000;
    font-style: italic;
    margin-bottom: 10px;
}

.section.share-your-bluestonelife .card-caption p {
    font-family: "Libre Baskerville";
    font-size: 14px;
    line-height: 24px;
    color: #221F20;
}

.section.share-your-bluestonelife .card-content {
    padding: 15px 15px 0 0;    
}

.slick-dots {
    width: calc(100% - 280px);
    padding-left: 0;
    margin-top: 30px;
}

.slick-dots li button {
    outline: 0px;
    background-color: #EFEFEF;
    height: 5px;  
    border: none;
}

.slick-dots li.slick-active button {
    background-color: #425764;
}

.section.share-your-bluestonelife .cards-more {
    display: none !important;    
}

.section.updates-offers {
    background-color: #CCC;
    padding: 50px 0;    
}

.section.updates-offers .section-title {
    text-align: center;
    font-family: "Libre Baskerville";
    font-style: italic;   
    text-transform: none;
}

.section.updates-offers .card-container .card {
    width: calc(100% / 3 - 30px);
    border-radius: 0px;
}

.section.updates-offers .card-container .card .card-content {
    background: transparent;
    padding: 30px;
}

.section.updates-offers .card-container .card:nth-child(3n - 1) .card-image-wrapper {
    height: 370px;
}

.section.updates-offers .card-container .card .card-content .card-caption {
    padding-top: 0;
}

.section.updates-offers .card-container .card .card-content .card-caption h4 {
    font-family: "Open Sans";
    color: #425764;
    font-size: 18px;
    line-height: 22px;
}

.section.updates-offers .card-container .card .card-content .card-caption h6 {
    font-family: "Open Sans";
    color: #000;
    font-size: 14px;
    line-height: 18px;
    font-weight: 100;
    padding-top: 5px;
    padding-bottom: 10px;
    text-transform: none;
}

.section.updates-offers .card-container .card .card-content .card-caption p {
    font-family: "Libre Baskerville";
    color: #221F20;
    font-size: 14px;
    line-height: 24px;
    font-weight: 100;
    padding-top: 5px;
    padding-bottom: 10px;
    text-transform: none;
}

.section.updates-offers .card-container .card .card-content .card-caption a {
    color: #2b2829;
    background-color: transparent;
    border-radius: 0px;
    transition: all 0.3s ease-in-out;
    text-transform: none !important;
    font-size: 15px;
    display: inline-block;
    font-style: inherit;
    font-family: "Open Sans";
    border-bottom: 1px solid;
    padding-bottom: 3px;
    line-height: 25px;
    padding-right: 30px;
}

.section.updates-offers .card-container .card .card-content .card-caption a:hover {
    border-bottom: 1px solid transparent;
    text-decoration: none;
    color: #2b2829;
}

.mdl-js .section.updates-offers .card-container .card {
    position: relative !important;    
}

.section.updates-offers .card-share {
    bottom: auto;
    top: 15px;    
}

.section.updates-offers .card-share a {
    display: inline-block; 
    padding-right: 0;
}

@media screen and (min-width: 1280px) {
    .card-4-columns {
        width: 375px !important;
    }
}

@media screen and (min-width: 1025px) {
    .section:not(.updates-offers) .container-3-columns .card {
        width: 275px;
        position: static !important;
    }
}

@media screen and (min-width: 480px) {
   .card-container {
        display: flex;
        justify-content: space-between;
    } 
}


